body{
    margin: 0px;
}
#sectionOne{
    
}
.headerImage{
    width: 1066px;
    height: 525px;
    background-image: url(./images/apple-pie.jpg);
    background-size: cover;
    margin: 0 auto;
}
.headerImage>h1{
    color: white;
    text-align: center;
    padding-top: 243px;
    font-size: 60px;
    margin-top: 0px;
}


.p{
    width: 821px;
    margin: 0 auto;
    padding-top: 87px;
    font-size: 26px;
}
.p > img{

    margin-left: 12%;
}
hr{
    width: 1066px;
}
#ingredientsLi{
    width: 1066px;
    margin: 0 auto;
    padding-top: 67px;
}
#ingredientsLi >ul>li{
    font-size: 26px;
}

#ingredientsLi > img{
    width: 335px;
    height: 49px;
    padding-top: 46px;
    padding-bottom: 46px;
    margin-left: 32%;
}
p{
    font-size: 26px;
}